.App {
  text-align: center;
}
body{
  background-color:black ;
  display: grid;
  place-content: center;
  font-size: 23px;
  margin-top: 10%;

}
.Container{
  height: 600px;
  width: 400px;
  color:LightSalmon;
  background-color:	rgb(109, 88, 230),142,35;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 2px 10px 1px 3px;
  box-shadow: 3px 11px 33px 12px;

}
 

.Calculator{
display:grid ;
height: 100%;
gap:10px;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(6,1fr);
gap:10px;

}
.screen{
grid-column: 1/-1;
color: rgb(223, 175, 116);
text-align:center;
overflow: hidden;
background-color: rgb(196, 248, 248);

box-shadow: 12px 0px 1px 3px;
box-shadow: 0px 0px 12px 2px;
padding: 1rem;
margin-top: 12px;
text-align: right;
height: 32px;


}
.code{
  height: 55%;
  width: 62px;
  margin-top: 43px;
  background-color:LightSalmon ;
  color:Maroon;
  font-size: 35px;
  box-shadow: 4px 10px 4px 3px;
  box-shadow: 3px 5px 3px 2px;
  border-radius: 11px;
}
.Del{
  height: 55%;
  width: 62px;
  margin-top: 39px;
  background-color: #9A3A3A;
  border-radius: 12px;

}
.equal{
  height: 100px;
  width: 70px;
  margin-left: 23px;
  border-radius: 8px;
  background-color:LightSlateGray ;
  box-shadow: 1px 1px 7px 2px;
  color: #9A3A3A;
  font-size: 33px;
  color: black;
  
}
.button{
  height:50px;
  width: 62px;
  display: grid;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 42px;
  background-color: burlywood;
  padding-top: 12px;
  color: black;
  margin-left: 14px;
  font-size: 22px;
 
}
.button:hover{
  background-color: cadetblue;

}
